<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <h1>Cadastro de Produtos</h1>

    <form action="/produto/cadastro" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite um produto">
        <label for="preco">Preço:</label>
        <input type="text" id="preco" name="preco" placeholder="Digite o valor do produto">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>