<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <h1>Olá Mundo Web MVC</h1>

    <div>
        <p>Cadastrar produtos: <a th:href="@{/produto/cadastro}">Cadastro de produto</a></p>
        <p>Calcular Média FIAP: <a th:href="@{/calculadora/media}">Calcular média</a></p>
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>