<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Livros</title>
</head>
<body>
    <div class="container" layout:fragment="conteudo">
        <div th:if="!${#strings.isEmpty(msg)}" class="alert alert-success">
            <span th:text="${msg}"></span>
        </div>
        <table class="table">
            <tr>
                <th>Titulo</th>
                <th>Sinopse</th>
                <th>Preço</th>
                 <th>ISBN</th>
                <th>Número de páginas</th>
                <th>Data Publicação</th>
                <th>Disponível</th>
                <th></th>
            </tr>
             <tr th:each="livro:${livros}">
                 <!-- ADICIONA UM INPUT HIDDEN PARA PEGA O ID DO LIVRO-->
                 <input type="hidden" id="idTeste" name="idTeste" th:value="${livro.id}">
                 <td th:text="${livro.titulo}"></td>
                 <td th:text="${livro.sinopse}"></td>
                 <td th:text="${#numbers.formatDecimal(livro.preco, 1, 2)}"></td>
                 <td th:text="${livro.isbn}"></td>
                 <td th:text="${livro.paginas}"></td>
                 <td th:text="${#temporals.format(livro.dataPublicacao, 'dd/MM/yyyy')}"></td>
                 <td th:text="${livro.disponivel? 'sim' : 'nao'}"></td>
                 <td>
                     <a th:href="@{/livros/editar/}+${livro.id}" class="btn btn-outline-primary">Editar</a>
                 </td>
                 <td>
                     <button th:onclick="|livroId.value = ${livro.id}|" type="button" class="btn btn-outline-danger btn-sm"
                             data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir</button>
                 </td>
             </tr>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir o livro?
                    </div>
                    <div class="modal-footer">
                        <form th:action="@{/livros/excluir}" method="post">
                            <input type="hidden" name="codigo" id="livroId">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Não</button>
                            <button type="submit" class="btn btn-danger">Sim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>